#tswcssbuttons {
  width: 200px;
  max-width: 100%;
  text-align: center;
}

#tswcssbuttons ul {
  margin: 0px;
  padding: 0px;
  list-style: outside none none;
}

#tswcssbuttons li {
  margin: 0px;
  padding: 0px;
  display: block;
  list-style: outside none none;
  font-family: Arial, Helvetica, sans-serif;
}

#tswcssbuttons li a {
  color: yellow;
  background-color: #b30000;
  border: 1px outset #ff8080;
  text-decoration: none;
  display: block;
}

#tswcssbuttons li a:hover {
  color: black;
  background-color: #ffbfbf;
}

#pizza {
  display: block;
}

#french {
  display: block;
}

