#tswcssbuttons {
  width: 400px;
  max-width: 100%;
  text-align: center;
}

#tswcssbuttons ul {
  margin: 0px;
  padding: 15px 5px 15px;
  list-style: outside none none;
  height: 300px;
  border-radius: 10px;
}

#tswcssbuttons li {
  margin: 0px;
  padding: 0px;
  display: block;
  border-radius: 10px;
  list-style: outside none none;
  font-family: Arial, Helvetica, sans-serif;
}

#tswcssbuttons li a {
  color: yellow;
  background-color: #b30000;
  border: 1px outset #ff8080;
  text-decoration: none;
  display: block;
}

#tswcssbuttons li a:hover {
  color: black;
  background-color: #ffbfbf;
}

#pizza {
  display: inline;
  clear: none;
  text-overflow: clip;
  margin: 0%;
  padding: 0px 0px 0px;
  border-radius: 15px;
}

#french {
  display: inline;
  clear: none;
  text-overflow: clip;
  margin: 0%;
  padding: 0px 0px 0px;
  border-radius: 15px;
}

#spelling {
  display: inline;
  clear: none;
  text-overflow: clip;
  margin: 0%;
  padding: 0px 0px 0px;
  border-radius: 15px;
}

#tswcontproper {
  font-weight: bold;

}

